:root {
    --site-search-page-scontainer-margin: 0 auto 30px auto;
    --site-search-page-resulttitle-margin: 0 0 5px 0;
    --site-search-page-block-gap: 20px;
    --site-clr-search-page-text1-hover: #fff;
    --site-clr-search-page-text2-hover: #E0CBEF;
}
@layer search {
    body.search,
    body.archive {
        .search-container {
            margin: var(--site-search-page-scontainer-margin);

        }

        .header > .entry-title {
            margin: var(--site-search-page-resulttitle-margin);
        }

        .grid {
            grid-template: 1fr / 1fr;
            gap: var(--site-search-page-block-gap);
            .hentry,
            .type-post {
                background-color: #efe8eb;
                padding: 15px;
                border-radius: 10px;
                .entry-title a {
                    padding: 0;
                }

                &:hover {
                    background-color: var(--site-clr-accent);
                    color: var(--site-clr-search-page-text2-hover);
                    .entry-title a {
                        color: var(--site-clr-search-page-text1-hover);
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

        }


        .pagination {
            display: flex;
            gap: 20px;
            padding: 15px;
            background-color: #e4defa;
            border-radius: 10px;
            margin-top: var(--site-search-page-block-gap);
        }


        // @media (min-width: 1400px) {
        //     border: 10px solid purple;
        // }
        // @media (min-width: 1200px) and (max-width: (1400px - 1)) {
        //     border: 10px solid violet;
        // }
        @media (min-width: 992px) {
            // border: 10px solid lime;
            --site-search-page-scontainer-margin: 0 auto 45px auto;
            --site-search-page-resulttitle-margin: 0 0 15px 0;
        }
        // @media (min-width: 768px) and (max-width: (992px - 1)) {
        //     border: 10px solid blue;
        // }
        // @media (min-width: 576px) and (max-width: (768px - 1)) {
        //     border: 10px solid turquoise;
        // }
        // @media (max-width: (576px - 1px)) {
        //     border: 10px solid chocolate;
        // }
    }
}


// Hide the dates
@layer author {
    body.author,
    body.search {
        .post, .tribe_events {
            .meta-sep, .entry-date {
                display: none;
            }
        }
    }
}
@layer single {
    body.single {
        .entry-meta {
            .author.vcard a {
                color: #fff;
            }
        }
    }
}