
:root {
    --site-value-icon-width: 70px;
    --site-value-icon-bottom-spacer: 15px;
}



@layer page-our-values {
    .page-template-template-about-our-values {
        
        .section-title,
        .section-subtitle {
            color: var(--site-clr-text1);
        }
        .section-content {
            color: var(--site-clr-text2);
        }

        .section-values {
            .value-item {
            }
            .value-icon {
                margin-bottom: var(--site-value-icon-bottom-spacer);
                width: var(--site-value-icon-width);
            }
        }
    }
}