
/**
 * Global Headings styles
 * ---------
*/

@layer headings {
    h1, h2, h3, h4, h5, h6 {
        color: var(--site-clr-txt-neutral-800);
    }

    .pre-title {
        margin: 0;
        color: var(--site-clr-link-800);
        text-transform: uppercase;
        font-size: 1rem;
    }
}
