:root {
    --site-h1-font-size: 2.4rem;
    --site-h1-line-height: 2.4rem;

    --site-h2-font-size: 2.0rem;
    --site-h2-line-height: 2.0rem;

    --site-h3-font-size: 1.7rem;
    --site-h3-line-height: 1.7rem;

    --site-h4-font-size: 1.4rem;
    --site-h4-line-height: 1.4rem;
}


/**
 * Global Headings styles
 * ---------
*/
@layer headings {
    h1, h2, h3, h4,
    .h1, .h2, .h3, .h4 {
        font-weight: bold;
    }

    h1, h2, h3, h4, h5, h6,
    .page-title,
    .section-title,
    .section-subtitle {
        position: relative;
        z-index: 1;
        color: var(--site-clr-text1);
    }

    .pre-title {
        margin: 0;
        text-transform: uppercase;
        font-size: 1rem;
    }
}


@layer headings {
    h1, .h1 {
        font-size: var(--site-h1-font-size);
        line-height: var(--site-h1-line-height);

        @media (min-width: 1400px) {
            --site-h1-font-size: 3.6rem;
            --site-h1-line-height: 3.1rem;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --site-h1-font-size: 3.2rem;
            --site-h1-line-height: 3.0rem;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --site-h1-font-size: 2.8rem;
            --site-h1-line-height: 2.9rem;
        }
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --site-h1-font-size: 2.6rem;
            --site-h1-line-height: 2.5rem;
        }
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            --site-h1-font-size: 2.6rem;
            --site-h1-line-height: 2.5rem;
        }
        // @media (max-width: (576px - 1px)) {}
    }


    h2, .h2 {
        font-size: var(--site-h2-font-size);
        line-height: var(--site-h2-line-height);

        @media (min-width: 1400px) {
            --site-h2-font-size: 2.9rem;
            --site-h2-line-height: 2.7rem;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --site-h2-font-size: 2.6rem;
            --site-h2-line-height: 2.5rem;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --site-h2-font-size: 2.4rem;
            --site-h2-line-height: 2.3rem;
        }
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --site-h2-font-size: 2.2rem;
            --site-h2-line-height: 2.1rem;
        }
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            --site-h2-font-size: 2.2rem;
            --site-h2-line-height: 2.1rem;
        }
        // @media (max-width: (576px - 1px)) {}
    }


    h3, .h3 {
        font-size: var(--site-h3-font-size);
        line-height: var(--site-h3-line-height);

        @media (min-width: 1400px) {
            --site-h3-font-size: 2.4rem;
            --site-h3-line-height: 2.1rem;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --site-h3-font-size: 2.1rem;
            --site-h3-line-height: 1.8rem;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --site-h3-font-size: 1.9rem;
            --site-h3-line-height: 1.7rem;
        }
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --site-h3-font-size: 1.9rem;
            --site-h3-line-height: 1.7rem;
        }
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            --site-h3-font-size: 1.9rem;
            --site-h3-line-height: 1.7rem;
        }
        // @media (max-width: (576px - 1px)) {}
    }


    h4, .h4, 
    // Setting event page heading as h3
    // (Event page markup is plug-in controlled)
    .tecset-share-title,
    .epta-sidebar-box .tribe-events-single-section-title {
        font-size: var(--site-h4-font-size)!important;
        line-height: var(--site-h4-line-height)!important;

        @media (min-width: 1400px) {
            --site-h4-font-size: 1.8rem;
            --site-h4-line-height: 1.5rem;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --site-h4-font-size: 1.7rem;
            --site-h4-line-height: 1.4rem;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --site-h4-font-size: 1.6rem;
            --site-h4-line-height: 1.4rem;
        }
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --site-h4-font-size: 1.6rem;
            --site-h4-line-height: 1.4rem;
        }
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            --site-h4-font-size: 1.6rem;
            --site-h4-line-height: 1.6rem;
        }
        // @media (max-width: (576px - 1px)) {}
    }
}