


@layer transitions {
    a,
    .btn,
    .site-badge,
    .vlog-item a,
    .event a,
    .vlog-item__title,
    .vlog-item__date,
    .vlog-item__img,
    
    .brand-feature__title,
    .brand-feature__status,
    .brand-feature__text,
    .brand-feature__cta-text,
    .brand-feature__cta::after
    
    {
        // Smooth transition effect ...
        transition: all 0.3s ease-in-out;
    }
}

