:root {
    --site-testimonial-list-gap: 30px;
}


@layer testimonial {
    .testimonial-list {
        gap: var(--site-testimonial-list-gap);

        // ..
        @media (min-width: 768px) {
            --site-testimonial-list-gap: 45px;
        }
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            --site-testimonial-list-gap: 35px;
        }
    }
}