
:root {
    --site-breadcrumb-top-gap: 15px;
    --site-breadcrumb-gap: 10px;

    --site-clr-breadcrumb-text2: #fff;
    --site-clr-breadcrumb-text1: #FFD9DE;
}

@layer breadcrumb {
    .breadcrumb {
        margin: var(--site-breadcrumb-top-gap) 0 0 0;
        color: var(--site-clr-breadcrumb-text1);
        overflow-x: scroll;
        height: 40px;
        a {
            color: var(--site-clr-text5);
            text-decoration: none;
        }
        .breadcrumb_last {
            color: var(--site-clr-accent);
        }
        p {
            margin: 0;
            > span {
                display: flex;
                gap: var(--site-breadcrumb-gap);
                width: 700px;
            }
        }
    }
}