/**
 * Buttons and links
 * ---------------------------------------------
*/
:root {
    --site-btn-padding-vertical: 13px;
    --site-btn-padding-horizontal: 30px;
    --site-btn-letter-spacing: 0.2ch;
    --site-btn-icon-padding: 15px;
    --site-clr-button-text3: #E0D9FF;
}


@layer badges {
    .site-badge {
        font-size: 12px;
        font-weight: 700;
        padding-bottom: 4.2px;
        padding-left: 7.8px;
        padding-right: 7.8px;
        padding-top: 4.2px;
        border-radius: 20px;

        &.badge-info {
            background-color: var(--site-clr-button-text3);
        }
    }
}

@layer buttons {
    .btn {
        border-color: transparent;
        padding: var(--site-btn-padding);
        border-radius: var(--site-btn-border-radius);

        &.btn-small {
            --site-btn-padding: 4px 15px;
        }
    }

    .btn-primary {
        color: var(--site-clr-event-background);
        background-color: var(--site-clr-accent);
        &:hover {
            background-color: var(--site-clr-accent-hover);
        }
    }

    .btn-secondary {
        color: var(--site-clr-event-background);
        background-color: var(--site-clr-text1);
        border: 1px solid var(--site-clr-text1);
    }
    .btn-secondary:hover {
        background-color: var(--site-clr-text5);
    }

    .btn-tertiary {
        color: var(--site-clr-text1);
        background-color: transparent;
        border: 1px solid var(--site-clr-text1);
    }
    .btn-tertiary:hover {
        background-color: var(--site-clr-primary-neutral-400);
    }
}

@layer links {
    .breadcrumb a:hover,
    .sidebar-component a:hover,         // Global hover effect
    .current-menu-item a {              // active links
        color: var(--site-clr-accent);
        text-decoration: underline;
    }
}


@layer button-icon {
    .btn.btn-icon {
        position: relative;
        padding-right: 42px;

        &::after {
            font-family: "Material Symbols Outlined";
            display: block;
            color: #fff;
            font-size: 1.5rem;
            position: absolute;
            top: 2px;
            right: 13px;
            width: 20px;
            height: 30px;
        }
    }
    .btn-icon.new-window {
        &::after {
            content: "\f1e1";
        }
    }
}



