:root {
    --site-btn-padding-vertical: 13px;
    --site-btn-padding-horizontal: 30px;
    --site-btn-letter-spacing: 0.2ch;
    --site-btn-icon-padding: 15px;

    --site-clr-button-text3: #E0D9FF;
}


@layer badges {
    .site-badge {
        font-size: 12px;
        font-weight: 700;
        padding-bottom: 4.2px;
        padding-left: 7.8px;
        padding-right: 7.8px;
        padding-top: 4.2px;
        border-radius: 20px;
        color: var(--site-clr-text2);

        &.badge-info {
            background-color: var(--site-clr-button-text3);
        }
    }
}

@layer buttons {
    .btn {
        border-color: transparent;
    }


    .btn-secondary {
        color: var(--site-clr-secondary-text);
        background-color: var(--site-clr-secondary-background);
    }
    .btn-secondary:hover {
        background-color: var(--site-clr-primary-neutral-400);
    }


    // .btn-primary,
    // .btn-secondary,
    // .btn-tertiary {
    //     border-radius: 0;
    //     letter-spacing: var(--site-btn-letter-spacing);
    //     text-transform: uppercase;

    //     &:not(.btn-sm) { // This rule excludes small buttons
    //         padding: var(--site-btn-padding-vertical) var(--site-btn-padding-horizontal);
    //     }

    //     &.btn-icon:not(.btn-sm) { // This rule excludes small buttons
    //         padding-right: calc(var(--site-btn-padding-horizontal) + var(--site-btn-icon-padding));
    //     }
    // }

    // .btn-primary {
    //     background-color: var(--site-clr-primary);
    //     color: var(--site-clr-primary-txt);
    //     border-color: var(--site-clr-primary);
    // }
    // .btn-primary:hover {
    //     background-color: var(--site-clr-primary-darken);
    // }


    

    
    // .btn-tertiary {
    //     color: var(--site-clr-txt-neutral-600);
    //     background-color: var(--site-clr-body-background);
    //     border-color: var(--site-clr-primary-neutral-500);
    // }
    // .btn-tertiary:hover {
    //     background-color: var(--site-clr-body-background-darken);
    // }


    /**
     * In this type of button, the text is the primary ingrediant and the icon is additional
    */
    // .btn-icon {
    //     position: relative;
    //     display: inline-block;
    // }
    // .btn-icon::after {
    //     position: absolute;
    //     right: var(--site-btn-icon-padding); // That's why there is a right padding
    //     content: '';
    //     width: 25px;
    //     height: 25px;
    // }
    // .btn-arrow-down::after {
    //     background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2225%22%20height%3D%2225%22%20viewBox%3D%220%200%2025%2025%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M12.5%2020.8333L4.16669%2012.5L5.26044%2011.4062L11.7188%2017.8645V4.16663H13.2813V17.8645L19.7396%2011.4062L20.8334%2012.5L12.5%2020.8333Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fsvg%3E");
    //     background-size: cover;
    // }


    /**
     * This type of button, icon is the only ingredient
    */
    // .icon-btn {
    //     display: flex;
    //     justify-content: center;
    //     width: 100%;
    //     max-width: 50px;

    //     &.btn-sm {
    //         padding-top: 10px;
    //         padding-bottom: 10px;
    //         svg {
    //             width: 25px;
    //             height: 25px;
    //         }
    //     }

    //     &.btn-secondary {
    //         fill: var(--site-clr-body-background);
    //     }

    //     &.is-off {
    //         svg {
    //             rotate: 0deg;
    //         }
    //     }

    //     &.is-on {
    //         svg {
    //             rotate: 180deg;
    //         }
    //     }
    // }
}