:root {
    --enjanga-card-testimonial-display: flex;
    --enjanga-card-testimonial-direction: column-reverse;
    --enjanga-card-testimonial-gap: 0px;

    --enjanga-card-testimonial-body-padding: 16px;

    --enjanga-card-testimonial-subtitle-fw: normal;

    --enjanga-card-testimonial-img-width: 100%;
    --enjanga-card-testimonial-img-height: 150px;
    --enjanga-card-testimonial-img-margin: 0;

    --enjanga-card-testimonial-footer-margin: 20px 0 10px 0;
}

@layer card-testimonial {
    .card-testimonial {
        display: var(--enjanga-card-testimonial-display);
        flex-direction: var(--enjanga-card-testimonial-direction);
        gap: var(--enjanga-card-testimonial-gap);

        @media (min-width: 1200px) {
            --enjanga-card-testimonial-direction: row;
            --enjanga-card-testimonial-gap: 20px;
            --enjanga-card-testimonial-img-width: 365px;
            --enjanga-card-testimonial-img-height: auto;
            --enjanga-card-testimonial-body-padding: 50px;
        }

        @media (min-width: 768px) and (max-width: (1200px - 1)) {
            --enjanga-card-testimonial-img-width: 350px;
            --enjanga-card-testimonial-body-padding: 40px;
            --enjanga-card-testimonial-img-margin: 0 0 40px 40px;
        }

        @media (min-width: 576px) and (max-width: (768px - 1)) {
            --enjanga-card-testimonial-body-padding: 30px;
        }

        .card-body {
            padding: var(--enjanga-card-testimonial-body-padding);
        }

        .card-subtitle {
            font-size: var(--enjanga-font-size-xs);
            font-weight: var(--enjanga-card-testimonial-subtitle-fw);
            color: var(--enjanga-clr-gray-3);
            margin-bottom: 15px;
        }

        .card-testimonial__img {
            object-fit: cover;
            margin: var(--enjanga-card-testimonial-img-margin);
            width: var(--enjanga-card-testimonial-img-width);
            height: var(--enjanga-card-testimonial-img-height);
        }

        .card-text {
            color: var(--enjanga-clr-gray-2);
            p {
                margin-bottom: 0;
            }
        }

        .card-footer {
            margin: var(--enjanga-card-testimonial-footer-margin);
            padding: 0;
            background: transparent;
            border: 0;
        }
    }
}