:root {
  --enjanga-case-study-display: flex;
  --enjanga-case-study-gap: 10px;
  --enjanga-case-study-direction: column-reverse;
  --enjanga-case-study-text-padding: 70px 20px;
  --enjanga-clr-case-study-text: var(--enjanga-clr-gray-2);
  --enjanga-case-study-img-opacity: 1;
  --enjanga-case-study-img-width: 100%;
  --enjanga-case-study-img-height: 320px;
  --enjanga-case-study-title-width: 478px;
  --enjanga-case-study-body-width: 100%;
  --enjanga-case-study-body-bg: var(--enjanga-clr-body-bg1);
}

@layer case-study {
  .case-study {

    &:hover {
      --enjanga-case-study-img-opacity: 0.5;
      --enjanga-case-study-body-bg: var(--enjanga-clr-accent);
      --enjanga-clr-case-study-text: var(--enjanga-clr-body-bg1);
    }


    > a {
      display: var(--enjanga-case-study-display);
      gap: var(--enjanga-case-study-gap);
      flex-direction: var(--enjanga-case-study-direction);
      color: var(--enjanga-clr-gray-1);
      text-decoration: none;

      @media (min-width: 992px) {
        --enjanga-case-study-direction: row; 
        --enjanga-case-study-img-width: 50%;
        --enjanga-case-study-text-padding: 100px 40px;
        --enjanga-case-study-img-height: 670px;
        --enjanga-case-study-gap: 20px;
      }
      @media (min-width: 576px) and (max-width: (992px - 1)) {
        --enjanga-case-study-text-padding: 70px 40px;
      }
    }

    .case-study__body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: var(--enjanga-case-study-body-width);
      padding: var(--enjanga-case-study-text-padding);
      background-color: var(--enjanga-case-study-body-bg);

      .case-study__title {
        color: var(--enjanga-clr-case-study-text);
        max-width: var(--enjanga-case-study-title-width);
        text-decoration: none;
      }
    }
    
    .case-study__img {
      object-fit: cover;
      width: var(--enjanga-case-study-img-width);
      height: var(--enjanga-case-study-img-height);
      opacity: var(--enjanga-case-study-img-opacity);
    }
  }
}
