:root {
  --enjanga-footer-logo-width: 150px;
  --enjanga-footer-logo-margin-bottom: 20px;

  --enjanga-footer-header-list-gap: 30px;

  --enjanga-footer-clientlogo-width: auto;

  --enjanga-footer-container-gap: 30px;
  --enjanga-footer-body-gap: 30px;
  --enjanga-footer-body-gap-grid-template: auto auto auto / auto;
  --enjanga-footer-body-cell-1: auto / auto;
  --enjanga-footer-client-list-gap: 20px;
  --enjanga-footer-client-list-f-direction: row;
  --enjanga-footer-body-cell-2-3-gap: auto;
}

@layer footer {
  .footer {
    .tenverto-logo {
      max-width: var(--enjanga-footer-logo-width);
      margin-bottom: var(--enjanga-footer-logo-margin-bottom);
    }

    .footer-header-list {
      gap: var(--enjanga-footer-header-list-gap);
    }

    .footer-container {
      gap: var(--enjanga-footer-container-gap);
    }

    .footer-client-list {
      display: flex;
      gap: var(--enjanga-footer-client-list-gap);
      flex-direction: var(--enjanga-footer-client-list-f-direction);

      .client-logo {
        width: var(--enjanga-footer-clientlogo-width);
      }
    }

    .footer-body {
      display: grid;
      gap: var(--enjanga-footer-body-gap);
      grid-template: var(--enjanga-footer-body-gap-grid-template);

      .footer-body-title {
        font-size: 24px;
        line-height: 26px;
      }

      .footer-body-cell-1 {
        grid-column: var(--enjanga-footer-body-cell-1);
      }

      .footer-body-cell-list-links {
        display: flex;
        flex-direction: column;
        gap: var(--enjanga-footer-body-cell-2-3-gap);
      }
    }

    .icon-before::before {
      color: var(--enjanga-clr-gray-2);
    }


    // Body gap ...
    @media (min-width: 1400px) {
      --enjanga-footer-body-gap: 100px;
    }

    @media (min-width: 1200px) and (max-width: (1400px - 1)) {
      --enjanga-footer-body-gap: 60px;
    }

    // Body call gap
    @media (min-width: 1200px) {
      --enjanga-footer-body-cell-2-3-gap: 4px;
    }

    // Body grid template ...
    // Client logo width ...
    // Client logo list gap ...
    @media (min-width: 992px) {
      --enjanga-footer-body-gap-grid-template: auto / 1fr 1fr 1fr;
      --enjanga-footer-client-list-f-direction: column;
      --enjanga-footer-clientlogo-width: 180px;

      --enjanga-footer-client-list-gap: 10px;
    }

    // Container gap ...
    // Header list gap ...
    @media (min-width: 576px) {
      --enjanga-footer-container-gap: 50px;
      --enjanga-footer-header-list-gap: 60px;
    }

    // Body gap and cell1 ...
    @media (min-width: 576px) and (max-width: (992px - 1)) {
      --enjanga-footer-body-gap: 50px 30px;
      --enjanga-footer-body-cell-1: 1 / span 2;
    }
  }
}