:root {
    --enjanga-hero-imgwrapper-display: block;
    --enjanga-hero-control-display: none;
    --enjanga-hero-control-width: 150px;
    --enjanga-hero-img-width: 100%;
    --enjanga-hero-img-height: 300px; //560px;

}

@layer hero {
    .hero {
        text-align: center;

        @media (min-width: 1200px) {
            --enjanga-hero-img-height: 560px;
        }

        @media (min-width: 992px) {
            // from this point forward ...
            // Display controls and position them with flex
            --enjanga-hero-imgwrapper-display: flex;
            --enjanga-hero-control-display: block;
        }

        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // image ...
            --enjanga-hero-img-height: 400px;
        }

        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --enjanga-hero-img-height: 400px;
            --enjanga-hero-img-width: 611px;
        }

        @media (min-width: 768px) {
            // from this point forward ...
            // Set hero image's width
            --enjanga-hero-img-width: 611px;
        }




        .hero-img {
            object-fit: cover;
            width: var(--enjanga-hero-img-width);
            height: var(--enjanga-hero-img-height);
        }

        .hero-imgwrapper {
            display: var(--enjanga-hero-imgwrapper-display);
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .hero-control {
            display: var(--enjanga-hero-control-display);
            width: var(--enjanga-hero-control-width);
        }
    }

}