
:root {
    --site-clr-icon-elements: #7657FC;
}

@layer icon-elements {
    .list-chevron-right {
        list-style: none;
        padding-left: 13px;
        
        li {
            position: relative;
            padding-left: 15px;
            &::after {
                font-family: "Material Symbols Outlined";
                content: "\eac9";
                display: block;
                color: var(--site-clr-icon-elements);
                font-size: 1.5rem;
                position: absolute;
                top: 0;
                left: -18px;
            }
        }
    }

    .list-social-media {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 7px;
            line-height: 1.5rem;

            a {
                display: flex;
                align-items: flex-start;

                &::before {
                    position: relative;
                    top: 4px;
                    display: inline-block;
                    margin-right: 10px;
                    font-family: bootstrap-icons!important;
                    font-style: normal;
                    font-weight: 400!important;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    vertical-align: -0.125em;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }

                &:hover {
                    &::before {
                        text-decoration: none;
                    }
                }
            }
            a.instagram {
                &::before {
                    content: "\f437";
                }
            }
            a.linkedIn {
                &::before {
                    content: "\F472";
                }
            }
            a.twitter {
                &::before {
                    content: "\F5EF";
                }
            }
            a.mail {
                &::before {
                    content: "\F84B";
                }
            }
            a.location {
                &::before {
                    content: "\F3E7";
                }
            }
        }
    }
}



