:root {
  --halton-link-icon-margin-x: 13px;
  --halton-link-icon-padding-x: 22px;
}


@layer icons {

  .halton-share__text.icon-share::after,
  .halton-collapse .panel-heading a::after,
  .link-icon::after,
  .link-icon::before,
  .text-icon::after,
  .text-icon::before,
  .list-icon-check li::before,
  .alert-icon::before,
  .card-icon::before {
    position: absolute;
    font-family: bootstrap-icons !important;
    display: block;
  }


  .list-icon-check {
    list-style: none;
    li::before {
      left: -16px;
      content: "\F633";
      color: var(--halton-clr-accent);
    }
    li {
      position: relative;
      padding-left: 13px;
    }
  }


  .icon-big {
    &::before,
    &::after {
      font-size: 30px;
    }
  }

  .icon-bigger {
    &::before,
    &::after {
      font-size: 60px;
    }
  }


  .text-icon, .link-icon {
    position: relative;

    &.icon-before {
      &::before {
        display: inline-block;
      }
    }
    &.icon-after {
      &::after {
        display: inline-block;
      }
    }
  }


  .text-icon,
  .link-icon {
      &.btn {
        --halton-link-icon-padding-x: 45px;
      }
    
    &::before,
    &::after {
      color: var(--halton-clr-link);
    }

    &.icon-before {
      padding-left: var(--halton-link-icon-padding-x);
      &::before {
        margin-right: var(--halton-link-icon-margin-x);
        left: 0;
      }
    }
    &.icon-after {
      padding-right: var(--halton-link-icon-padding-x);
      &::after {
        margin-left: var(--halton-link-icon-margin-x);
      }
    }
  }

}

