
:root {
    --site-clr-icon-elements: #7657FC;
}

@layer icon-elements {
    .list-chevron-right,
    .list-material-icons,
    .list-social-media {
        list-style: none;
        padding: 0;

        li {
            line-height: 1.5rem;
            margin-bottom: 7px;
            display: flex;
            align-items: flex-start;
            gap: 10px;

            &::before {
                color: var(--site-clr-icon-elements);
            }
        }
    }

    .list-material-icons,
    .list-chevron-right {
        li {
            &::before {
                font-family: "Material Symbols Outlined";
                content: "\eac9";
                display: block;
                font-size: 1.5rem;
                position: relative;
                left: -4px;
                top: 0px;
                height: 16px;
                width: 16px;
            }

            &.star {
                &::before {
                    content: "\e743";
                }
            }
        }
    }

    .list-social-media {
        li {
            &::before {
                position: relative;
                top: 4px;
                display: inline-block;
                font-family: bootstrap-icons!important;
                font-style: normal;
                font-weight: 400!important;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                vertical-align: -0.125em;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            &.instagram {
                &::before {
                    content: "\f437";
                }
            }
            &.linkedIn {
                &::before {
                    content: "\F472";
                }
            }
            &.twitter {
                &::before {
                    content: "\F5EF";
                }
            }
            &.facebook {
                &::before {
                    content: "\F344";
                }
            }
            &.tiktok {
                &::before {
                    content: "\F6CC";
                }
            }
            &.mail {
                &::before {
                    content: "\F84B";
                }
            }
            &.location {
                &::before {
                    content: "\F3E7";
                }
            }
            &.event {
                &::before {
                    content: "\F1E7";
                }
            }
            &.post {
                &::before {
                    content: "\F3B8";
                }
            }
        }
    }
}



