:root {
    --enjanga-navbar-padding-y: 8px;
    --enjanga-navbar-logo-width: 100px;
    --enjanga--navbar-toggler-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28233, 228, 222, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    --enjanga-navbar-nav-item-margin-left: 10px;
    --enjanga-navbar-nav-item-last-margin-left: 10px;
    --enjanga-navbar-nav-item-last-margin-top: 20px;
    --enjanga-navbar-nav-link-font-size: 16px;

    --enjanga-navbar-btn-primary-padding: 15px 70px 15px 30px;
    --enjanga-navbar-btn-primary-icon-right-x: 30px;
}


@layer navigation {
    .navbar {
        .tenverto-logo {
            width: var(--enjanga-navbar-logo-width);
        }
    }

    .tenverto-navbar {
        padding-top: var(--enjanga-navbar-padding-y);
        padding-bottom: var(--enjanga-navbar-padding-y);
        margin-bottom: 15px;

        .navbar-collapse {
            // border: 3px solid red;
            .nav-item {
                // border: 3px solid blue;
                // vertically aligning items
                display: flex;
                align-items: center;
                margin-left: var(--enjanga-navbar-nav-item-margin-left);
            }

            .nav-item:last-of-type {
                margin-left: var(--enjanga-navbar-nav-item-last-margin-left);
                margin-top: var(--enjanga-navbar-nav-item-last-margin-top);
            }

            .nav-link {
                color: var(--enjanga-clr-gray-1);
                font-size: var(--enjanga-navbar-nav-link-font-size);
            }


            // border: 4px solid blue;

            // Actice link styling (for WordPress)
            // (Combination of link-not-underlined and link-color-hover1) ...
            .navbar-nav {
                > .menu-item.active > a, 
                > .current-menu-item.page_item > a {
                    font-weight: bold;
                    text-decoration: underline!important;
                    color: var(--enjanga-clr-accent);
                }
            }
        }


        .btn-primary {
            padding: var(--enjanga-navbar-btn-primary-padding);

            &.text-icon::after {
                right: var(--enjanga-navbar-btn-primary-icon-right-x);
            }
        }

        // ---> top and bottom padding
        @media (min-width: 1200px) {
            --enjanga-navbar-padding-y: 20px;
        }
        @media (min-width: 768px) and (max-width: (1200px - 1)) {
            --enjanga-navbar-padding-y: 15px;
        }

        // ---> Logo's width
        @media (min-width: 1200px) {
            --enjanga-navbar-logo-width: 150px;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --enjanga-navbar-logo-width: 130px;
        }

        // ---> Nav items' and last nav item margins
        @media (min-width: 1400px) {
            --enjanga-navbar-nav-item-margin-left: 40px;
            --enjanga-navbar-nav-item-last-margin-left: 80px;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --enjanga-navbar-nav-item-margin-left: 30px;
            --enjanga-navbar-nav-item-last-margin-left: 60px;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --enjanga-navbar-nav-item-margin-left: 15px;
            --enjanga-navbar-nav-item-last-margin-left: 40px;
        }
        @media (min-width: 992px) {
            --enjanga-navbar-nav-item-last-margin-top: 0;
        }

        // ---> Nav links font size
        @media (min-width: 992px) {
            --enjanga-navbar-nav-link-font-size: 20px;
        }
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --enjanga-navbar-nav-link-font-size: 18px;
        }
    }

    .tenverto-navbar.navbar-expand-md {
        background-color: var(--enjanga-clr-body-bg);
    }

    .tenverto-navbar,
    .navbar {
        &.navbar-light,
        &.bg-primary {
            .navbar-toggler-icon {
                background-image: var(--enjanga--navbar-toggler-bg);
            }
            .navbar-toggler {
                background-color: var(--enjanga-clr-gray-1);
            }
        }

        &.bg-primary {
            .nav-link {
                color: var(--enjanga-clr-body-bg);
            }
        }
    }
}