
:root {
    --site-parallax-section-height: 300px;
    --site-parallax-section-blockquote-width: 90%;
    --site-parallax-section-blockquote-padding: 20px;
    --site-parallax-section-blockquote-bdr-radius: 20px;
    --site-clr-parallax-section-blockquote-bg: #AB0727;
    --site-clr-parallax-section-blockquote-text: #fff;
    --site-parallax-section-quote-line-height: 2rem;
    --site-parallax-section-quote-font-size: 2rem;
}

@layer parallax-section {
    .parallax-section {
        position: relative;
        display: flex;
        align-items: center;
        min-height: var(--site-parallax-section-height);
        background-color: #444;
        background-size: cover;

        .container {
            position: relative;
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
        }

        blockquote {
            position: relative;
            z-index: 1;
            width: var(--site-parallax-section-blockquote-width);
            padding: var(--site-parallax-section-blockquote-padding);
            background-color: var(--site-clr-parallax-section-blockquote-bg);
            border-radius: var(--site-parallax-section-blockquote-bdr-radius);
            p {
                margin: 0;
                color: var(--site-clr-parallax-section-blockquote-text);
                font-size: var(--site-parallax-section-quote-font-size);
                line-height: var(--site-parallax-section-quote-line-height);
            }


            @container (min-width: 300px) and (max-width: 369px) {
                // border: 10px solid orange;
                --site-parallax-section-blockquote-width: 270px;
            }
            @container (min-width: 370px) and (max-width: 450px) {
                // border: 10px solid black;
                --site-parallax-section-blockquote-padding: 30px;
                --site-parallax-section-blockquote-width: 290px;
            }
            @container (min-width: 451px) and (max-width: 541px) {
                // border: 10px solid purple;
                --site-parallax-section-blockquote-padding: 30px;
                --site-parallax-section-blockquote-width: 290px;
            }
        }




        @media (min-width: 1400px) {
            // border: 10px solid purple;
            --site-parallax-section-height: 700px;
            --site-parallax-section-quote-line-height: 3.4rem;
            --site-parallax-section-quote-font-size: 3.4rem;
            --site-parallax-section-blockquote-width: 500px;
            --site-parallax-section-blockquote-padding: 80px;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 10px solid violet;
            --site-parallax-section-height: 620px;
            --site-parallax-section-quote-line-height: 3.1rem;
            --site-parallax-section-quote-font-size: 3.1rem;
            --site-parallax-section-blockquote-width: 450px;
            --site-parallax-section-blockquote-padding: 60px;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 10px solid lime;
            --site-parallax-section-height: 550px;
            --site-parallax-section-quote-line-height: 2.8rem;
            --site-parallax-section-quote-font-size: 2.8rem;
            --site-parallax-section-blockquote-width: 400px;
            --site-parallax-section-blockquote-padding: 40px;
        }
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 10px solid blue;
            --site-parallax-section-height: 450px;
            --site-parallax-section-quote-line-height: 2.5rem;
            --site-parallax-section-quote-font-size: 2.5rem;
            --site-parallax-section-blockquote-width: 360px;
            --site-parallax-section-blockquote-padding: 30px;
        }
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            // border: 10px solid turquoise;
            --site-parallax-section-height: 400px;
            --site-parallax-section-quote-line-height: 2.3rem;
            --site-parallax-section-quote-font-size: 2.3rem;
            --site-parallax-section-blockquote-width: 320px;
        }
        // @media (max-width: (576px - 1px)) {
        //     border: 10px solid chocolate;
        // }
    }
}