:root {
    --site-partners-gap: 10px;
    --site-partners-partner-item-width: 25%;
}



@layer partner-logos-carousel {
    .section-partners {
        @media (min-width: 1400px) {
            --site-partners-gap: 60px;
        }
    }
    .partner-logos-carousel {
        @media (min-width: 992px) {
            --site-partners-partner-item-width: 15%;
        }
    }
    .partner-logos-carousel__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--site-partners-gap);

        .img-thumbnail {
            border-width: 0px!important;
        }
    }
    .partner-logos-carousel__item {
        width: var(--site-partners-partner-item-width);
    }
}