
:root {
    --site-testimonial-box-radius: 15px;
    --site-testimonial-icon-box-radius: 10px;

    // color
    --site-clr-testimonial-background1: #E4DEFA;
    --site-clr-testimonial-background2: #FADEE4;
    --site-clr-testimonial-background3: #F1DEFA;
}




@layer testimonial {
    .testimonial {
        background: #FFF;
        
        &.theme1 {
            background: var(--site-clr-testimonial-background1);
        }
        &.theme2 {
            background: var(--site-clr-testimonial-background2);
        }
        &.theme3 {
            background: var(--site-clr-testimonial-background3);
        }
    }
    .testimonial {
        position: relative;
        display: flex;
        // width: 413px;
        padding: 50px 25px 30px 25px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        border-radius: var(--site-testimonial-box-radius);

        p:last-of-type {
            margin-bottom: 0;
        }
    }
    .testimonial__icon {
        position: absolute;
        top: -30px;
        left: 50%;
        width: 60px;
        margin-left: -30px;
        border-radius: var(--site-testimonial-icon-box-radius);
    }
    .testimonial__name {
        font-size: 24px;
        font-weight: 700;
        font-family: var(--site-font-family-headings);
    }

    // .testimonial__title,
    .testimonial__body {
        color: var(--site-clr-text3);
    }
}