:root {
    --site-about-content-display: grid;
    --site-about-content-dtc: 1fr;
    --site-about-content-gap: 40px;
    --site-about-content-article:
    --site-about-content-aside:
}

@layer about {
    .content-grid {
        display: var(--site-about-content-display);
        grid-template-columns: var(--site-about-content-dtc);
        gap: var(--site-about-content-gap);

        article {
    
        }
        aside {
    
        }
    }



    .content-grid {
        @container (min-width: 1141px) {
            --site-about-content-dtc: 1fr 420px;
            --site-about-content-gap: 180px;
        }
     
        @container (min-width: 961px) and (max-width: 1140px) {
            --site-about-content-dtc: 1fr 350px;
            --site-about-content-gap: 100px;
        }
     
        @container (min-width: 721px) and (max-width: 960px) {
            --site-about-content-dtc: 1fr 250px;
            --site-about-content-gap: 100px;
        }
     
        @container (min-width: 541px) and (max-width: 720px) {
            --site-about-content-dtc: 1fr 200px;
            --site-about-content-gap: 70px;
        }
    
        // @container (max-width: 540px) {} 
    }
}