:root {
    --site-about-award-section-padding: 20px;
    --site-about-award-blockquote-max-width: 100%;
    --site-about-award-learn-more-elt-display: none;
}


/**
* Toggle awards display based on parent container's width
* (Elts displayed: 5)
*/
@layer about.awards {
    /** Hide all awards, except the first 4 and last one (Elts displayed: 5) */
    @container (min-width: 1141px) {
        .page-template-template-about .awards-container .award:not(:first-child):not(:nth-child(-n+4)):not(:nth-last-child(1)) {
            display: none;
        }
    }

    /** Hide all awards, except the first 3 and last one (Elts displayed: 4) */
    @container (min-width: 961px) and (max-width: 1140px) {
        .page-template-template-about .awards-container .award:not(:first-child):not(:nth-child(-n+3)):not(:nth-last-child(1)) {
            display: none;
        }
    }

    /** Hide all awards, except the first 2 and last one (Elts displayed: 3) */
    @container (min-width: 721px) and (max-width: 960px) {
        .page-template-template-about .awards-container .award:not(:first-child):not(:nth-child(2)):not(:last-child) {
            display: none;
        }
    }

    /** Hide all awards, except the first and last one (Elts displayed: 2) */
    @container (max-width: 720px) {
        .page-template-template-about .awards-container .award:not(:first-child):not(:last-child) {
            display: none;
        }
    }
}





// Making sure cards inside grids occupies 
// the cell's full height
@layer about.awards {
    .page-template-template-about {
        .grid .card {
            height: 100%;
        }
    }
}



/**
 * Controlling the award section layout
 * -----------
*/
@layer about.awards {
    .page-template-template-about {
        .section-awards {
            padding: var(--site-about-award-section-padding);

            blockquote {
                max-width: var(--site-about-award-blockquote-max-width);
            }

            .box-learn-more {
                p, hr {
                    display: var(--site-about-award-learn-more-elt-display);
                }
            }
            

            @container (min-width: 1141px) {
                --site-about-award-section-padding: 60px;
                --site-about-award-blockquote-max-width: 660px;
                --site-about-award-learn-more-elt-display: block;
            }

            /** Hide all awards, except the first 3 and last one (Elts displayed: 4) */
            @container (min-width: 961px) and (max-width: 1140px) {
                --site-about-award-section-padding: 40px;
                --site-about-award-blockquote-max-width: 660px;
                --site-about-award-learn-more-elt-display: block;
            }

            /** Hide all awards, except the first 2 and last one (Elts displayed: 3) */
            @container (min-width: 721px) and (max-width: 960px) {
                --site-about-award-section-padding: 30px;
                --site-about-award-blockquote-max-width: 600px;
                --site-about-award-learn-more-elt-display: block;
            }

            /** Hide all awards, except the first and last one (Elts displayed: 2) */
            @container (min-width: 541px) and (max-width: 720px) {
                --site-about-award-blockquote-max-width: 500px;
                --site-about-award-learn-more-elt-display: block;
            }

            // @container (max-width: 540px) {}
        }
    }
}


