:root {
    // (mobile first) ...
    --site-contact-form-grid1: grid;
    --site-contact-form-grid1-gtc: 1fr 1fr;
    --site-contact-form-grid1-gap: 30px;
}

@layer contact {
    .page-template-template-contact {
        .contact-grid-1 {
            // From this breakpoint, display 2 fields in a 2 column row
            // The design needs it
            @container (min-width: 541px) {
                display: var(--site-contact-form-grid1);
                grid-template-columns: var(--site-contact-form-grid1-gtc);
                gap: var(--site-contact-form-grid1-gap);
            }
        }
    }
}

