
// Making sure cards inside grids occupies 
// the cell's full height
.home {
    .grid .card {
        height: 100%;
    }
}




/**
 * Make sure learn more boxes occupy the container's full space
*/
:root {
    --site-learn-more-height: 100%;
    --site-learn-more-nax-height: 100%;
}
@layer home {
    .home {
        .grid {
            .box-learn-more {
                height: var(--site-learn-more-height);
                max-height: var(--site-learn-more-nax-height);
                .box-learn-more__bg-wrapper {
                    width: var(--site-learn-more-height);
                    height: var(--site-learn-more-height);
                    max-height: var(--site-learn-more-nax-height);
                    .box-learn-more__bg {
                        height: var(--site-learn-more-height);
                        max-height: var(--site-learn-more-nax-height);
                    }
                }

                // Limit box height within a certain space
                @container (max-width: 720px) {
                    --site-learn-more-nax-height: 350px;
                }
            }
        }
    }
}