:root {
    --enjanga-section-max-width1: 473px;
    --enjanga-section-max-width2: 752px;
    --enjanga-display-block-hidden-12-display: none;
    --enjanga-display-tabCell-hidden-12-display: none;
}






/**
 * Maximum width
 * ---------------------------------------
*/
.section-max-w1 {
    max-width: var(--enjanga-section-max-width1);
}
.section-max-w2 {
    max-width: var(--enjanga-section-max-width2);
}



/**
 * x-axis positionning
 * ---------------------------------------
*/
.section-h-centering { // Center the section horizontally
    margin-left: auto;
    margin-right: auto;
}





/**
 * Hidden classes
 * ---------------------------------------
*/

.display-block-hidden-12 { // (Block) Hidden on position 1, and 2 breakpoints
    display: var(--enjanga-display-block-hidden-12-display);

    @media (min-width: 768px) { // position 4 ...
        --enjanga-display-block-hidden-12-display: block;
    }
}


.display-tabCell-hidden-12 { // (Cell) Hidden on position 1, and 2 breakpoints
    display: var(--enjanga-display-tabCell-hidden-12-display);

    @media (min-width: 768px) { // position 4 ...
        --enjanga-display-tabCell-hidden-12-display: table-cell;
    }
}