:root {
  --enjanga-clr-body-bg1: #fff;
  --enjanga-clr-body-bg: #e9e4de;
  --enjanga-clr-body-bg-rgba: #e9e4de;
  --enjanga-clr-gray-1: #1c1c20;
  --enjanga-clr-gray-2: #434343;
  --enjanga-clr-gray-3: #595959;
  --enjanga-clr-gray-4: #747474;
  --enjanga-clr-accent: #d65a00;
  --enjanga-clr-accent-fade:#ffb27b;


  --enjanga-clr-dark-section-bg: #1c1c20;
  --enjanga-clr-dark-section-h: #e9e4de;
  --enjanga-clr-dark-section-accent: #ffa800;
  --enjanga-clr-dark-section-txt: #d1cdc7;

  --enjanga-clr-footer-icon-txt: #505050;


  --enjanga-font-size-xs: 14px;
  --enjanga-line-height-xs: 14px;
}