/**
 *
 * Mostlyt dedicated to aesthetics:
 * backgroud color, text color, paddings, ...
*/

:root {
    --site-card-padd30: 30px;
}


@layer cards {
    .card-primary {
        background-color: var(--site-clr-primary-100);
    }
    .card-primary .card-header-icon {
        background-color: var(--site-clr-primary-200);
    }
    .card-neutral {
        background-color: var(--site-clr-transparent);
    }
    .card-neutral .card-header-icon {
        background-color: var(--site-clr-body-background);
    }
}


@layer cards {
    .card-header-padd30 {
        padding: var(--site-card-padd30);
    }
    .card-body-padd30 {
        padding: var(--site-card-padd30);
    }
    .card-padd30 .card-header {
        padding-top: var(--site-card-padd30);
        padding-right: var(--site-card-padd30);
        padding-bottom: 0;
        padding-left: var(--site-card-padd30);
    }
    .card-padd30 .card-body {
        padding-top: calc(var(--site-card-padd30) / 2);
        padding-right: var(--site-card-padd30);
        padding-bottom: var(--site-card-padd30);
        padding-left: var(--site-card-padd30);
    }

    // Quotes (see .quote in "_blockquote.scss") create an extra left and right gap inside "card-body".
    // To fix the issue without compromising the code's flexibility, I'm adding "has-quote" to the parent's
    // class to freely modify the body's padding 
    .card-padd30.has-quote {
        .card-body {
            padding-left: 13px;
            padding-right: 13px;
        }
    }

    .card-header-icon {
        /* background: red; */
        width: 42px;
        height: 42px;
        padding: 10px;
        border-radius: 42px;
        box-sizing: content-box;
        overflow: visible; /* Prevent images to be cropped */
    }
}






  
  
  