:root {
    // Default settings (mobile first) ...
    --site-clr-footer-bdr: #dfa6b1;
    --site-clr-footer-background: #FFE8F1;
    --site-footer-padding: 25px;
    --site-footer-hr-margin: 25px 0;
    --site-footer-logo-position: absolute;
    --site-footer-logo-left: 7px;
    --site-footer-logo-top: 0;
    --site-footer-logo-width: 248px;
    --site-footer-border-radius: 15px;
    --site-footer-padding: 40px 30px;
    --site-footer-block1-display: block;
    --site-footer-block1-justify-content: end;
    --site-footer-block1-top-padding: 100px;
    --site-footer-block2-grid-template: 1fr / 1fr;
    --site-footer-block2-grid-row-gap: 30px;
    --site-footer-block2-grid-column-gap: 20px;
    --site-footer-title-margin-bottom: 0px;
    --site-footer-block3-display: block;
    --site-footer-block3-gap: 20px;
    --site-footer-block3-justify-content: center;
}


@layer footer {
    .footer .container {
        position: relative;
        background-color: var(--site-clr-footer-background);
        border-radius: var(--site-footer-border-radius);
        padding: var(--site-footer-padding);
        overflow: hidden;

        .logo {
            position: var(--site-footer-logo-position);
            left: var(--site-footer-logo-left);
            top: var(--site-footer-logo-top);
            width: var(--site-footer-logo-width);
        }

        hr {
            margin: var(--site-footer-hr-margin);
            color: var(--site-clr-footer-bdr);
            opacity: 1;
        }

        .block1 {
            display: var(--site-footer-block1-display);
            justify-content: var(--site-footer-block1-justify-content);
            padding-top: var(--site-footer-block1-top-padding);
            @media (min-width: 768px) {
                --site-footer-block1-display: flex;
                --site-footer-block1-top-padding: 0;
            }
        }
        .block2 {
            display: grid;
            grid-template: var(--site-footer-block2-grid-template);
            grid-row-gap: var(--site-footer-block2-grid-row-gap);
            grid-column-gap: var(--site-footer-block2-grid-column-gap);

            ul {
                list-style: none;
                padding: 0 0 0 0;
            }

            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    color: var(--site-clr-accent);
                }
            }

            @media (min-width: 1400px) {
                --site-footer-block2-grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
            }
            @media (min-width: 1200px) and (max-width: (1400px - 1)) {
                --site-footer-block2-grid-template: 1fr / 1fr 1fr 1fr 1fr;
            }
            @media (min-width: 992px) and (max-width: (1200px - 1)) {
                --site-footer-block2-grid-template: 1fr / 1fr 1fr 1fr;
            }
            @media (min-width: 992px) {
                --site-footer-title-margin-bottom: 10px;
            }
            @media (min-width: 768px) and (max-width: (992px - 1)) {
                --site-footer-block2-grid-template: 1fr / 1fr 1fr;
            }
        }
        .block3 {
            display: var(--site-footer-block3-display);
            gap: var(--site-footer-block3-gap);
            justify-content: var(--site-footer-block3-justify-content);

            a {
                &:hover {
                    text-decoration: none;
                    color: var(--site-clr-accent);
                }
            }

            @media (min-width: 768px) {
                --site-footer-block3-display: flex;
            }
        }
    }
    .footer__title, h4 {
        margin-bottom: var(--site-footer-title-margin-bottom);
    }
    .footer__title a {
        color: var(--site-clr-accent);
        &:hover {
            text-decoration: none;
        }
    }
    .sup {
        text-transform: uppercase;
        font-size: 0.7rem;
    }
    .separator {
        opacity: 0.5;
    }
    .footer__cta {
        line-height: 0.5rem;
        h3 {
            margin: 0;
        }
    }
}