:root {
    // Default settings (mobile first) ...
    --site-clr-footer-bdr: #CF93AA;
    --site-clr-footer-background: #FFE8F1;
    --site-footer-padding: 25px;
    --site-footer-bottom-spacer: 30px;
    --site-footer-hr-margin: 25px 0;

    --site-footer-logo-position: absolute;
    --site-footer-logo-left: 0;
    --site-footer-logo-top: 0;

    --site-footer-border-radius: 15px;
    --site-footer-padding: 40px 30px;

    --site-footer-block1-display: block;
    --site-footer-block1-justify-content: end;
    --site-footer-block1-top-padding: 100px;

    --site-footer-block2-grid-template: 1fr / 1fr;
    --site-footer-block2-grid-row-gap: 30px;
    --site-footer-block2-grid-column-gap: 20px;

    --site-footer-block3-display: block;
    --site-footer-block3-gap: 20px;
    --site-footer-block3-justify-content: center;

}



@layer footer {
    #footer {
        margin-top: var(--site-footer-bottom-spacer);
        margin-bottom: var(--site-footer-bottom-spacer);
    }
    #footer .container {
        position: relative;
        background-color: var(--site-clr-footer-background);
        border-radius: var(--site-footer-border-radius);
        padding: var(--site-footer-padding);

        .logo {
            position: var(--site-footer-logo-position);
            left: var(--site-footer-logo-left);
            top: var(--site-footer-logo-top);
        }

        hr {
            margin: var(--site-footer-hr-margin);
            border-top: var(--site-clr-footer-bdr) solid;
            opacity: 1;
        }

        .block1 {

            display: var(--site-footer-block1-display);
            justify-content: var(--site-footer-block1-justify-content);
            padding-top: var(--site-footer-block1-top-padding);


            @media (min-width: 1400px) {
                border: 10px solid purple; 
            }
            @media (min-width: 1200px) and (max-width: (1400px - 1)) {
                border: 10px solid violet; 
            }
            @media (min-width: 992px) and (max-width: (1200px - 1)) {
                border: 10px solid lime; 
            }
            @media (min-width: 768px) and (max-width: (992px - 1)) {
                border: 10px solid blue;  
            }
            @media (min-width: 576px) and (max-width: (768px - 1)) {
                border: 10px solid turquoise;
            }
            @media (max-width: (576px - 1px)) {
                border: 10px solid chocolate;
            }


            @media (min-width: 768px) {
                border: 10px solid blue; 
                --site-footer-block1-display: flex;
                --site-footer-block1-top-padding: 0;
            }
        }
        .block2 {
            display: grid;
            grid-template: var(--site-footer-block2-grid-template);
            grid-row-gap: var(--site-footer-block2-grid-row-gap);
            grid-column-gap: var(--site-footer-block2-grid-column-gap);

            ul {
                list-style: none;
                padding: 0 0 0 0;
            }

            a {
                text-decoration: none;
            }


            @media (min-width: 1400px) {
                border: 10px solid purple;
                --site-footer-block2-grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
            }
            @media (min-width: 1200px) and (max-width: (1400px - 1)) {
                border: 10px solid violet;
                --site-footer-block2-grid-template: 1fr / 1fr 1fr 1fr 1fr;
            }
            @media (min-width: 992px) and (max-width: (1200px - 1)) {
                border: 10px solid lime;
                --site-footer-block2-grid-template: 1fr / 1fr 1fr 1fr;
            }
            @media (min-width: 768px) and (max-width: (992px - 1)) {
                border: 10px solid blue;
                --site-footer-block2-grid-template: 1fr / 1fr 1fr;
            }
            @media (min-width: 576px) and (max-width: (768px - 1)) {
                border: 10px solid turquoise;
            }
            @media (max-width: (576px - 1px)) {
                border: 10px solid chocolate;
            }
        }
        .block3 {
            display: var(--site-footer-block3-display);
            gap: var(--site-footer-block3-gap);
            justify-content: var(--site-footer-block3-justify-content);

            @media (min-width: 768px) {
                --site-footer-block3-display: flex;
            }
        }
    }
    // .footer__title {
    //     color: heading color
    // }
    .sup {
        text-transform: uppercase;
        font-size: 0.7rem;
    }
    .separator {
        opacity: 0.5;
    }
    .footer__cta {
        line-height: 0.5rem;
        h3 {
            margin: 0;
        }
    }
}



// Responsive settings ...
@layer footer {
    #footer {
        @media (min-width: 1400px) {
            --site-footer-bottom-spacer: 80px;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --site-footer-bottom-spacer: 60px;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --site-footer-bottom-spacer: 60px;
        }
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --site-footer-bottom-spacer: 40px;
        }
        @media (min-width: 576px) and (max-width: (768px - 1)) {
        }
    }
}




