:root {
    --site-body-padding-top: 48px;
    --site-header-fixed-container-top: 0px;

    --site-header-wrapper-padding-left: 0; // 10px;
    --site-header-wrapper-padding-right: 0; // 10px;

    --site-header-wrapper-container-padding: 0;

    --site-navbar-brand-padding: 0;
    --site-navbar-padding: 0;
    --site-navbar-nav-padding: 0;
    --site-navbar-border-radius: 20px;

    --site-clr-dropdown-item-sep: #fff;

    --site-clr-navbar-nav-bg1: #FADEE4;
    --site-clr-navbar-nav-bg2: #E4DEFA;
    --site-clr-navbar-nav-bg3: #CDC5E8;

    --site-navbar--h1-bot-mar: 0;
    --site-navbar--logo-max-width: 120px;
    --site-navbar--toggler-bdr-radius: 10px;
    --site-navbar--toggler-margin: 10px;
    --site-navbar-font-size: 1.1rem;
    --site-navbar-letter-spacing: 0.2ch;

    --site-navbar-nav-display: block;
    --site-navbar-nav-gap: 20px;

    --site-navbar-link-padding: 10px 30px;
    --site-clr-navbar-link-active-bg: #FADEE4;

    --site-navbar-dropdown-toggle-pos-right: 20px;

    --site-body-overlay-on-mobile-nav-opened-display: block;
}


/**
 * Overlay designed to appear when Bootstrap mobile nav appears
 * -------------------
*/
body.nav-opened {
    &::after {
        content: '';
        position: fixed;
        display: var(--site-body-overlay-on-mobile-nav-opened-display);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);

        @media (min-width: 992px) {
            --site-body-overlay-on-mobile-nav-opened-display: none;
        }
    }
}


@layer header {
    body {
        padding-top: var(--site-body-padding-top);
        @media (min-width: 992px) {
            --site-body-padding-top: 80px;
        }
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --site-body-padding-top: 60px;
        }
    }
}

@layer header {
    // Push the fixed wrapper down
    .container.fixed-top {
        top: var(--site-header-fixed-container-top);
    }
    .main-header .container {
        padding: var(--site-header-wrapper-container-padding);
    }
    .main-header-wrapper {
        background-color: transparent;
        padding-left: var(--site-header-wrapper-padding-left);
        padding-right: var(--site-header-wrapper-padding-right);

        @media (min-width: 992px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: var(--site-body-padding-top);
        }
    }
    .main-header {
        position: relative;

        .logo {
            max-width: var(--site-navbar--logo-max-width);
        }
        .navbar-brand {
            padding: var(--site-navbar-brand-padding);
        }
        .navbar-nav {
            margin-left: auto;
            display: var(--site-navbar-nav-display);
            gap: var(--site-navbar-nav-gap);
            padding: var(--site-navbar-nav-padding);
            background-color: var(--site-clr-navbar-nav-bg1);
            border-radius: var(--site-navbar-border-radius);

            > .menu-item > a {
                border-radius: var(--site-navbar-border-radius);
            }

            // Active menu item
            > .menu-item.active,
            > .current-menu-item.page_item {
                > a {
                    color: var(--site-clr-accent);
                    text-decoration: underline;    
                    font-weight: bold;
                    background-color: var(--site-clr-navbar-link-active-bg);
                }
            }

            // Hover (on menu item)
            > .menu-item > a:hover {
                background-color: var(--site-clr-navbar-nav-bg2);
            }
            > .menu-item > .dropdown-menu > .menu-item > a {
                &:hover {
                    color: var(--site-clr-accent);
                }
            }

            > .menu-item > a {
                padding: var(--site-navbar-link-padding);
            }

            @media (min-width: 992px) {
                --site-navbar-link-padding: 10px;
                --site-navbar-dropdown-toggle-pos-right: 2px;
            }
        }

        .navbar {
            text-transform: uppercase;
            letter-spacing: var(--site-navbar-letter-spacing);
            font-size: var(--site-navbar-font-size); 
            padding: var(--site-navbar-padding);
            background-color: transparent;

            .dropdown-menu {
                border-width: 0;
                border-radius: 0;
                background-color: var(--site-clr-navbar-nav-bg3);
                @media (min-width: 992px) {
                    border-radius: var(--site-navbar-border-radius);
                    background-color: var(--site-clr-navbar-nav-bg2);
                }
            }
            .dropdown-menu.show {
                overflow: hidden;
            }

            // Overriding bootstrap dropdown toggle arrow
            .dropdown-toggle::after {
                font-family: "Material Symbols Outlined";
                content: "\e5cf";
                display: block;
                color: var(--site-clr-text2);
                font-size: 1.5rem;
                position: absolute;
                top: 6px;
                right: var(--site-navbar-dropdown-toggle-pos-right);
                border: 0px!important;
            }

            a.nav-link,
            a.dropdown-item {
                color: var(--site-clr-text1);
            }
            a.nav-link.dropdown-toggle {
                @media (min-width: 992px) {
                    --site-navbar-link-padding: 10px 30px 10px 10px;
                }
                &:hover {
                    &::after {
                        color: var(--site-clr-accent);
                    }
                }
            }
            a.nav-link.show {
                color: var(--site-clr-accent);
            }
            .dropdown-menu {
                padding: 0;
            }
            a.dropdown-item {
                position: relative;
                padding: var(--site-navbar-link-padding); // var(--site-dropdown-item-padding-y) var(--site-dropdown-item-padding-x);
                @media (min-width: 992px) {
                    --site-navbar-link-padding: 10px 30px;
                }

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: var(--site-clr-dropdown-item-sep);
                }
                &:active { // When link is pressed
                    color: var(--site-clr-body-background);
                    background-color: var(--site-clr-dropdown-item-sep);
                }
                &:hover {
                    background-color: var(--site-clr-navbar-nav-bg3);
                }
            }


            .navbar-toggler {
                border-radius: var(--site-navbar--toggler-bdr-radius);
                border: 1px solid var(--site-clr-text4);
                margin-right: var(--site-navbar--toggler-margin);
            }
            .navbar-toggler-icon{
                background-image: var(--site-navbar-toggler-icon-bg);
            }

            @media (min-width: 992px) {
                --site-navbar--logo-max-width: 188px;
            }
            @media (min-width: 768px) and (max-width: (992px - 1)) {
                --site-navbar--logo-max-width: 150px;
            }
        }
        .menu-item:last-of-type .dropdown-item::after {
            display: none;
        }

        // Giving the illusion of a full width bar
        .container {
            z-index: 10;
            position: relative;
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: var(--site-body-padding-top);
            background-color: #fff;
        }
    }
}


@layer header {
    // The more the viewport spreads, Push the fixed wrapper down
    .container.fixed-top {
        @media (min-width: 1200px) {
            --site-header-wrapper-padding-left: 30px;
            --site-header-wrapper-padding-right: 30px;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --site-header-wrapper-padding-left: 20px;
            --site-header-wrapper-padding-right: 20px;
        }
    }
}

@layer header {
    .main-header {
        @media (min-width: 1400px) {
            --site-navbar-nav-display: flex;
            --site-navbar-nav-gap: 60px;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --site-navbar-nav-display: flex;
            --site-navbar-nav-gap: 40px;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --site-navbar-nav-display: flex;
        }

        @media (min-width: 992px) {
            --site-clr-navbar-nav-bg1: #fff;
        }
    }
}
