:root {
    // (Mobile first) ...
    --site-hero-img-spacer: 30px;
    --site-hero-footer-mgr: 20px; // footer margin

    --site-hero-large-height: 400px;
    --site-hero-large-background-pos: center -139px;
    --site-hero-small-height: 235px;
    --site-hero-txt-wrapper-padding: 20px 20px 0 20px;
    --site-hero-txt-wrapper-brd-radius: 20px 20px 0px 0px;
    --site-hero-bg-img-pos-y: 41%;

    --site-clr-hero-txt-wrapper-bg: var(--site-clr-text1);
    --site-clr-hero-txt-wrapper-h1: #fff;
    --site-clr-hero-txt-wrapper-txt: #E1C7F0;
    --site-clr-hero-txt-wrapper-width: 100%;
}

// Mobile first settings ...
@layer hero {
    .hero {
        position: relative;
        display: flex;
        min-height: var(--site-hero-small-height);
        background: var(--site-clr-accent-hover);
        overflow: hidden;

        // ...
        background-size: cover;
        background-position-y: var(--site-hero-bg-img-pos-y);
        
        .container {
            position: relative;
            display: flex;
            align-items: flex-start; // Flex items to grow only up to their natural content size without stretching to fill the available space
            flex-direction: column-reverse; // Push item down
        }

        .text-wrapper {
            width: 100%;
            max-width: var(--site-clr-hero-txt-wrapper-width);
            background: var(--site-clr-hero-txt-wrapper-bg);
            padding: var(--site-hero-txt-wrapper-padding);
            border-radius: var(--site-hero-txt-wrapper-brd-radius);
            z-index: 2;
        }
    }
    .hero {
        // HERO OVERLAY: 
        // ------------------------------
        &::after {
            content: '';
            position: absolute;
            display: var(--site-body-overlay-on-mobile-nav-opened-display);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 1;
        }
    }
    .hero-title {
        position: relative;
        margin: 0;
                color: var(--site-clr-hero-txt-wrapper-h1);
    }
    .hero-intro {
        margin-top: 20px;
        color: var(--site-clr-hero-txt-wrapper-txt);
    }
    .hero-footer {
        margin-top: var(--site-hero-footer-mgr);
    }
}

// Responsive settings ...
@layer hero {
    .hero {
        @media (min-width: 1400px) {
            --site-hero-large-height: 700px;
            --site-hero-footer-mgr: 30px; 
            --site-clr-hero-txt-wrapper-width: 633px;
            --site-hero-txt-wrapper-padding: 30px 50px 10px 50px;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --site-hero-large-height: 600px;
            --site-hero-footer-mgr: 30px; 
            --site-clr-hero-txt-wrapper-width: 550px;
            --site-hero-txt-wrapper-padding: 30px 40px 10px 40px;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --site-hero-large-height: 500px;
            --site-hero-footer-mgr: 30px; 
            --site-clr-hero-txt-wrapper-width: 450px;
            --site-hero-txt-wrapper-padding: 30px 30px 10px 30px;
        }
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --site-hero-large-height: 500px;
            --site-hero-footer-mgr: 20px; 
            --site-clr-hero-txt-wrapper-width: 450px;
            --site-hero-txt-wrapper-padding: 20px 30px 0 30px;
        }
        @media (min-width: 576px) and (max-width: (768px - 1)) { 
            --site-hero-txt-wrapper-padding: 20px 30px 0 30px;
        }
        @media (max-width: (768px - 1)) {
            --site-clr-hero-txt-wrapper-width: 450px;
        }
    }

    .hero.large {
        min-height: var(--site-hero-large-height);
        background-position: var(--site-hero-large-background-pos);

        @media (min-width: 1400px) {
            --site-hero-large-background-pos: center -680px;
            --site-hero-txt-wrapper-padding: 30px 50px 30px 50px;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --site-hero-large-background-pos: center -680px;
            --site-hero-txt-wrapper-padding: 30px 40px 30px 40px;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --site-hero-large-background-pos: center -580px;
            --site-hero-txt-wrapper-padding: 30px 30px 30px 30px;
        }
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --site-hero-large-background-pos: center -400px;
            --site-hero-txt-wrapper-padding: 20px 30px 20px 30px;
        }
        @media (min-width: 576px) and (max-width: (768px - 1)) { 
            --site-hero-large-background-pos: center -300px;
            --site-hero-txt-wrapper-padding: 20px 30px 20px 30px;
        }
        @media (max-width: (576px - 1px)) {
            --site-hero-txt-wrapper-padding: 20px;
        }
    }
}