:root {
    // (Mobile first) ...
    --site-hero-img-spacer: 30px;
    --site-hero-footer-mgr: 20px; // footer margin

    --site-hero-large-height: 400px;
    --site-hero-large-background-pos: center -139px;
    --site-hero-small-height: 235px;
    --site-hero-txt-wrapper-padd: 20px;
    --site-hero-txt-wrapper-brd-radius: 20px 20px 0px 0px;
    --site-hero-bg-img-pos-y: 41%;

    --site-clr-hero-txt-wrapper-bg: #442C52;
    --site-clr-hero-txt-wrapper-h1: #fff;
    --site-clr-hero-txt-wrapper-txt: #E1C7F0;
    --site-clr-hero-txt-wrapper-width: 100%;
}

// Mobile first settings ...
@layer hero {
    .hero {
        position: relative;
        display: flex;
        height: var(--site-hero-small-height);
        background: var(--site-clr-hero-txt-wrapper-bg);
        overflow: hidden;

        // ...
        background-size: cover;
        background-position-y: var(--site-hero-bg-img-pos-y);
        
        .container {
            position: relative;
            display: flex;
            align-items: flex-start; // Flex items to grow only up to their natural content size without stretching to fill the available space
            flex-direction: column-reverse; // Push item down
        }

        .text-wrapper {
            max-width: var(--site-clr-hero-txt-wrapper-width);
            background: var(--site-clr-hero-txt-wrapper-bg);
            padding: var(--site-hero-txt-wrapper-padd);
            border-radius: var(--site-hero-txt-wrapper-brd-radius);
            z-index: 2;
        }

        &::after {
            height: var(--site-hero-small-height);
        }
    }
    .hero {
        // HERO OVERLAY: 
        // ------------------------------
        &::after {
            content: '';
            position: fixed;
            display: var(--site-body-overlay-on-mobile-nav-opened-display);
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 1;
        }
    }
    .hero-title {
        position: relative;
        margin: 0;
                color: var(--site-clr-hero-txt-wrapper-h1);
    }
    .hero-intro {
        margin-top: 20px;
        color: var(--site-clr-hero-txt-wrapper-txt);
    }
    .hero-footer {
        margin-top: var(--site-hero-footer-mgr);
    }
}

// Responsive settings ...
@layer hero {
    .hero {
        // @container (min-width: 1141px) {
        @media (min-width: 1400px) {
            --site-hero-large-height: 700px;
            --site-hero-footer-mgr: 40px; // footer top margin
            --site-clr-hero-txt-wrapper-width: 633px;
        }
    
        // @container (min-width: 961px) and (max-width: 1140px) {
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --site-hero-large-height: 600px;
            --site-hero-footer-mgr: 30px; // footer top margin
            --site-clr-hero-txt-wrapper-width: 550px;
            --site-hero-txt-wrapper-padd: 40px;
        }
    
        // @container (min-width: 721px) and (max-width: 960px) {
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --site-hero-large-height: 500px;
            --site-hero-footer-mgr: 30px; // footer top margin
            --site-clr-hero-txt-wrapper-width: 450px;
            --site-hero-txt-wrapper-padd: 30px;
        }
    
        // @container (min-width: 541px) and (max-width: 720px) {
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --site-hero-large-height: 500px;
            --site-hero-footer-mgr: 20px; // footer top margin
            --site-clr-hero-txt-wrapper-width: 450px;
        }
        @media (max-width: (768px - 1)) {
            --site-clr-hero-txt-wrapper-width: 450px;
        }
    }

    .hero.large {
        height: var(--site-hero-large-height);
        &::after {
            height: var(--site-hero-large-height);
        }
        background-position: var(--site-hero-large-background-pos);

        @media (min-width: 1400px) {
            // border: 10px solid purple;
            --site-hero-large-background-pos: center -680px;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 10px solid violet;
            --site-hero-large-background-pos: center -680px;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 10px solid lime;
            --site-hero-large-background-pos: center -580px;
        }
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 10px solid blue;
            --site-hero-large-background-pos: center -400px;
        }
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            // border: 10px solid turquoise;
            --site-hero-large-background-pos: center -300px;
        }
        // @media (max-width: (576px - 1px)) {
        //     border: 10px solid chocolate;
        // }
    }
}



