:root {
    --site-sidebar-sidebar-component-bottom-margin: 30px;
    --site-sidebar-sidebar-component-padding: 30px;
    --site-sidebar-sidebar-component-border-radius: 15px;

    --site-clr-sidebar-sidebar-component-1: #FAF2FF;
    --site-clr-sidebar-sidebar-component-2: #E8EAFF;
}

@layer sidebar {
    .sidebar {
        .content-wrapper {
            ul {
                line-height: 40px;
                // border: 1px solid orange;
            }

            .content-title {
                margin-bottom: 15px;
            }
        }
    }
}


@layer sidebar {
    .sidebar {
        .sidebar-component {
            padding: var(--site-sidebar-sidebar-component-padding);
            margin-bottom: var(--site-sidebar-sidebar-component-bottom-margin);
            border-radius: var(--site-sidebar-sidebar-component-border-radius);

            // @media (min-width: 1400px) {
            //     border: 5px solid purple;
            // }
            @media (min-width: 1200px) and (max-width: (1400px - 1)) {
                // border: 5px solid violet;
                --site-sidebar-sidebar-component-padding: 20px;
            }
            @media (min-width: 992px) and (max-width: (1200px - 1)) {
                // border: 5px solid lime;
                --site-sidebar-sidebar-component-padding: 20px;
            }
            // @media (min-width: 768px) and (max-width: (992px - 1)) {
            //     border: 5px solid blue;
            // }
            // @media (min-width: 576px) and (max-width: (768px - 1)) {
            //     border: 5px solid turquoise;
            // }
            // @media (max-width: (576px - 1px)) {
            //     border: 5px solid chocolate;
            // }


            &:last-of-type {
                margin-bottom: 0;
            }

            a {
                text-decoration: none;
            }
            // a:hover,
            // .current-menu-item a {
            //     color: var(--site-clr-accent);
            //     text-decoration: underline;
            // }
        }
        .sidebar-component-color1 {
            background-color: var(--site-clr-sidebar-sidebar-component-1);
        }
        .sidebar-component-color2 {
            background-color: var(--site-clr-sidebar-sidebar-component-2);
        }
    }
}



// Sidebar link color
// @layer sidebar {
//     .sidebar a {
//     }
// }


// List items spacing
// @layer sidebar {
//     .sidebar {
//         @media (min-width: 1400px) {
//             border: 5px solid purple;
//         }
//         @media (min-width: 1200px) and (max-width: (1400px - 1)) {
//             border: 5px solid violet;
//         }
//         @media (min-width: 992px) and (max-width: (1200px - 1)) {
//             border: 5px solid lime;
//         }
//         @media (min-width: 768px) and (max-width: (992px - 1)) {
//             border: 5px solid blue;
//         }
//         @media (min-width: 576px) and (max-width: (768px - 1)) {
//             border: 5px solid turquoise;
//         }
//         @media (max-width: (576px - 1px)) {
//             border: 5px solid chocolate;
//         }
//     }
// }




