/**
 * Set of components used in the blog
 * -----------
*/


@layer blog-iems {
    .entry-img {
        border-radius: var(--site-border-radius);
    }
}


@layer blog-iems {
    .blog-footer,
    .entry-footer {
        position: relative;
        padding-top: 30px; 
        
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            width: 100px;
            background-color: green;
            height: 1px;
        }
    }
}


// Blog item link color
@layer blog-iems {
    .more-link,
    .blog-footer a {
        // color: body color
        &:hover {
            text-decoration: none;
        }
    }
}
