:root {
    // (Mobile first) ...
    --site-hero-padding: 30px;
    --site-hero-img-spacer: 30px;
    --site-hero-txt-wrapper-max-width: 80%;
    --site-hero-footer-mgr: 20px; // footer margin
    --site-hero-bottom-spacer: 30px; // bottom margin
}

// Mobile first settings ...
@layer hero {
    .hero {
        display: flex;
        height: var(--site-hero-small-height);
        background: var(--site-clr-hero-background);
        margin-bottom: var(--site-hero-bottom-spacer);

        // ...
        background-size: cover;
        background-position-y: 41%;
        
        .container {
            display: flex;
        }

        .text-wrapper {
            background: var(--site-clr-body-background);
            max-width: 733px;
        }
    }
    .hero-title {
        position: relative;
        margin: 0;
    }
    .hero-intro {
        margin-top: 20px;
    }
    .hero-footer {
        margin-top: var(--site-hero-footer-mgr);
    }
}

// Responsive settings ...
@layer hero {
    .hero {
        // @container (min-width: 1141px) {
        @media (min-width: 1400px) {
            --site-hero-padding: 90px;
            --site-hero-txt-wrapper-max-width: 50ch; // text wrapper max width
            --site-hero-footer-mgr: 40px; // footer top margin
            --site-hero-bottom-spacer: 80px;
        }
    
        // @container (min-width: 961px) and (max-width: 1140px) {
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --site-hero-padding: 60px;
            --site-hero-txt-wrapper-max-width: 50ch; // text wrapper max width
            --site-hero-footer-mgr: 30px; // footer top margin
            --site-hero-bottom-spacer: 60px;
        }
    
        // @container (min-width: 721px) and (max-width: 960px) {
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --site-hero-padding: 50px;
            --site-hero-txt-wrapper-max-width: 50ch; // text wrapper max width
            --site-hero-footer-mgr: 30px; // footer top margin
            --site-hero-bottom-spacer: 60px;
        }
    
        // @container (min-width: 541px) and (max-width: 720px) {
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --site-hero-padding: 40px;
            --site-hero-txt-wrapper-max-width: 50ch; // text wrapper max width
            --site-hero-footer-mgr: 20px; // footer top margin
            --site-hero-bottom-spacer: 40px;
            
        }
        // @container (max-width: 540px) {} 
    }

    .hero.large {
        height: var(--site-hero-large-height);
    }
}






@layer hero {
    .hero a {
        color: var(--site-clr-link-700);
        &:hover {
            text-decoration: none;
        }
    }
}