:root {

}

@layer links {
    .km-link-primary {
        color: var(--site-clr-txt-neutral-200);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .km-link-secondary {
        color: var(--site-clr-link-800);
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}