:root {
    --site-spacer-margin-bottom: 30px;
}
:root {
    --site-h-underlined--uh: 1px;  // Underline height
    --site-h-underlined--ubp: -15px;  // Underline bottom position
}


@layer post {
    .post {
        position: relative;
        margin-bottom: var(--site-spacer-margin-bottom);
    }

    // Underlining styling
    .post::after {
        position: absolute;
        display: block;
        content: '';
        height: var(--site-h-underlined--uh);
        // ...
        width: var(--site-article-sep-width);
        max-width: var(--site-article-sep-max-width);
  
        bottom: var(--site-h-underlined--ubp);
        background-color: var(--site-clr-primary-neutral-600);

        @container (min-width: 1141px) {
            --site-h-underlined--ubp: -60px;
            // --site-h-underlined--umgr-top: 15px;
            // --site-h-underlined--umgr-bot: 30px;
        }
    
        @container (min-width: 961px) and (max-width: 1140px) {
            --site-h-underlined--ubp: -30px;
        }
    
        @container (min-width: 721px) and (max-width: 960px) {
            --site-h-underlined--ubp: -20px;
        }
    
        // @container (min-width: 541px) and (max-width: 720px) {}
        // @container (max-width: 540px) {} 
    }

    // Spacing
    .post {
        @container (min-width: 1141px) {
            --site-spacer-margin-bottom: 120px; 
        }
    
        @container (min-width: 961px) and (max-width: 1140px) {
            --site-spacer-margin-bottom: 60px; 
        }
    
        @container (min-width: 721px) and (max-width: 960px) {
            --site-spacer-margin-bottom: 50px; 
        }
    
        @container (min-width: 541px) and (max-width: 720px) {
            --site-spacer-margin-bottom: 40px; 
        }
    }
}