:root {
    --site-title-bottom-spacer: 20px;
}



@layer section-spacer {
    .top-section-spacer {
        margin-top: var(--site-section-gap);
    }
    .bottom-section-spacer {
        margin-bottom: var(--site-section-gap);
    }
    .title-spacer {
        margin-bottom: var(--site-title-bottom-spacer);

        @media (min-width: 1400px) {
            --site-title-bottom-spacer: 40px;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --site-title-bottom-spacer: 40px;
        }
    }

    .top-section-spacer,
    .bottom-section-spacer {
        @media (min-width: 1400px) {
            --site-section-gap: 120px;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --site-section-gap: 80px;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --site-section-gap: 60px;
        }
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --site-footer-bottom-spacer: 40px;
        }
    }
}