:root {
    --site-spacer-margin-bottom: 30px;
}



@layer section-spacer {
    .section-spacer {
        margin-bottom: var(--site-spacer-margin-bottom);
    }

    .section-spacer {
        @container (min-width: 1141px) {
            --site-spacer-margin-bottom: 120px; 
        }
    
        @container (min-width: 961px) and (max-width: 1140px) {
            --site-spacer-margin-bottom: 60px; 
        }
    
        @container (min-width: 721px) and (max-width: 960px) {
            --site-spacer-margin-bottom: 50px; 
        }
    
        @container (min-width: 541px) and (max-width: 720px) {
            --site-spacer-margin-bottom: 40px; 
        }
    }
}